<div id="map-point-form">
  <h3>Form</h3>
  <form [formGroup]="reverseGeocodeForm">
    <div><label for="name">Name: </label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div><label for="longitude">Longitude: </label>
      <input type="text" id="longitude" formControlName="longitude" />
    </div>
    <div><label for="latitude">Latitude: </label>
      <input type="text" id="latitude" formControlName="latitude" (keyup)="addressLookup()"
        (click)="$event.stopPropagation()" />
    </div>
  </form>
  <div>
    <ul>
      <li *ngFor="let searchResult of searchResults">{{ searchResult.display_name }}</li>
    </ul>
  </div>
</div>